<div style="width: 100%" class="p-1 searchi rounded rounded-pill mb-4">
  <div class="input-group">
    <div class="input-group-prepend">
      <button
        id="button-addon2"
        type="submit"
        class="btn btn-link text-warning"
      >
        <i class="fa fa-search"></i>
      </button>
    </div>
    <input
      type="text"
      name="search"
      [(ngModel)]="searchText"
      (keyup)="changeFilter($event)"
      autocomplete="off"
      placeholder="Search here"
      aria-describedby="button-addon2"
      class="form-control"
      style="margin: 1px; border: 1px; border-radius: 15px"
    />
  </div>
</div>
