<div class="header" fxLayout="row" fxLayoutWrap>
  <h1 class="logoName">eCommerce App</h1>

  <i class="material-icons-outlined" (click)="backClicked()">close</i>
</div>
<div>
  <p class="settingsTitle">Settings</p>
</div>
<div class="favoriteDiv" fxLayout="row" fxLayoutWrap>
  <i class="material-icons">favorite</i>
  <p
    class="favoriteProducts"
    style="
      width: 104px;
      height: 17px;
      color: var(--unnamed-color-553e00);
      text-align: left;
      font: normal normal normal 12px/18px Poppins;
      letter-spacing: 0px;
      color: #553e00;
      opacity: 1;
    "
    routerLink="/favorite"
  >
    Favorite Products
  </p>
</div>
<div class="row" style="margin: 5px">
  <div class="col-6" style="padding: 5px" *ngFor="let favorites of data">
    <mat-card [routerLink]="['/productdetail', favorites.id]">
      <div fxLayoutAlign="center center" style="margin: 3px">
        <img
          mat-card-image
          class="card-image"
          src="{{ imgpath + favorites.image }}"
        />
      </div>
      <mat-card-title
        style="font-size: large; color: #e58d00; font-weight: bold"
        >{{ favorites.nameSQ }}</mat-card-title
      >
      <mat-card-content>
        <span style="display: flex; justify-content: space-between"
          ><p style="font-size: 12px">Category</p>
        </span>
      </mat-card-content>
    </mat-card>
  </div>
</div>
