<app-header></app-header>
<!--Produktet-->
<div class="row" style="margin: 5px;">
  <div class="col-6"style="padding: 5px;"  *ngFor="let favorites of data | filter: searchTextt ">
    <mat-card>
      <div fxLayoutAlign="center center" style="margin:3px">
      <img
      mat-card-image
      class="card-image"
      src="{{imgpath+favorites.image}}"
    />
    </div>
      <mat-card-title style="font-size: large;color:#e58D00;font-weight:bold;" >{{ favorites.nameSQ}}</mat-card-title>
          <mat-card-content>
           <span style="display: flex;justify-content: space-between;"><p style="font-size: 12px;">Category</p> </span>
          </mat-card-content>
      </mat-card>
  </div>
</div>


