.logoName {
  margin-top: 13px;
  margin-left: 20px;
  text-align: left;
  color: #553e00;
}
.material-icons-outlined {
  margin-right: 15px;
  margin-top: 10px;
  font-size: 33px;
  color: #e58d00;
}
.material-icons {
  width: auto;
  height: auto;
  /* transform: matrix(0, 1, -1, 0, 0, 0); */
  background: var(--unnamed-color-e58d00) 0% 0% no-repeat padding-box;
  /* background: #E58D00 0% 0% no-repeat padding-box; */
  opacity: 1;
  font-size: 33px;
  color: #e58d00;
  align-self: center;
}
.header {
  justify-content: space-between;
}
.drag-scroll {
  display: inline-block;
  white-space: nowrap;
  width: 320px;
  height: 253px;
}
.text {
  display: flex;
  margin: 10px;

    width: auto;
    height: auto;
    text-align: left;
    letter-spacing: 0px;
    opacity: 1;
    display: flex;

}
.text1 {
  width: auto;
  height: auto;
  margin: 0px;
  font: normal normal normal 10px/14px Poppins;
  letter-spacing: 0px;
  color: #b5b5b5;
}
.text2 {
  height: auto;
  margin: 0px;
  color: #e58d00;
  width: auto;
  height: 15px;
  color: var(--unnamed-color-e58d00);
  text-align: left;
  font: normal normal bold 10px/14px Poppins;
  letter-spacing: 0px;
  color: #E58D00;
  margin-left: 3px;
}
.info1 {
  margin-top: 18px;
  margin-left: 21px;
  width: auto;
  height: 20px;
  color: var(--unnamed-color-553e00);
  text-align: left;
  font: normal normal 600 14px/21px Poppins;
  letter-spacing: 0.14px;
  color: #553e00;
  opacity: 1;
}

[id="heart"] {
  position: absolute;
  left: -100vw;
}
[for="heart"] {
  color: bisque;
  cursor: pointer;
  font-size: 30px;
  align-self: center;
  width: auto;
  transition: color 0.2s ease-in-out;
  height: auto;
  margin-left: 10px;
}
[for="heart"]:hover {
  color: bisque;
}
[for="heart"]::selection {
  color: none;
  background: transparent;
}
[for="heart"]::moz-selection {
  color: none;
  background: transparent;
}
[id="heart"]:checked + label {
  color: #e58d00;
  will-change: font-size;
  animation: heart 1s cubic-bezier(0.17, 0.89, 0.32, 1.49);
}
@keyframes heart {
  0%,
  17.5% {
    font-size: 0;
  }
}
