<!--Header-->
<app-header></app-header>

<div *ngFor="let c of products">
  <div style="display: flex; justify-content: space-between">
    <i class="material-icons" (click)="goBack()">keyboard_arrow_left</i>
    <mat-card-title
      *ngIf="selectedLanguage == 'al'; else MK"
      style="
        margin-bottom: 0px;
        color: #553e00;
        font-weight: bold;
        align-self: center;
        width: auto;
        height: auto;
        color: var(--unnamed-color-553e00);
        font: normal normal bold 14px/14px Poppins;
        letter-spacing: 0px;
        text-align: center;
        opacity: 1;
      "
      >{{ c.nameSQ }}</mat-card-title>
      <ng-template #MK>
        <mat-card-title
      *ngIf="selectedLanguage == 'mk'"
      style="
        margin-bottom: 0px;
        color: #553e00;
        font-weight: bold;
        align-self: center;
        width: auto;
        height: auto;
        color: var(--unnamed-color-553e00);
        font: normal normal bold 14px/14px Poppins;
        letter-spacing: 0px;
        text-align: center;
        opacity: 1;
      "
      >{{ c.nameMK }}</mat-card-title>
      </ng-template>
    <span
      style="
        display: flex;
        justify-content: space-between;
        border-radius: 6px;
        width: auto;
        height: auto;
        background: var(--unnamed-color-d9ffde) 0% 0% no-repeat padding-box;
        background: #d9ffde 0% 0% no-repeat padding-box;
        border-radius: 6px;
        opacity: 1;
      "
      ><p
        style="
          width: auto;
          height: auto;
          color: var(--unnamed-color-035f11);
          text-align: left;
          font: normal normal bold 20px/30px Poppins;
          letter-spacing: 0px;
          color: #035f11;
          opacity: 1;
          float: right;
          font-size: 20px;
          opacity: 1;
          font-weight: bold;
          margin: 6px;
        "
      >
        {{ c.sellingPriceWithVat }}den
      </p></span
    >
    <i class="material-icons" (click)="goNext()">keyboard_arrow_right</i>
  </div>
  <div class="text">
    <p class="text1">{{'PUBLISHED_BY' | translate}}</p>
    <h6 class="text2">{{ c.companyname }}</h6>
  </div>
  <!--Produktet-->
  <drag-scroll style="display: contents">
    <img

      src="{{ imgpath + c.image }}"
      style="
        width: 100%;
        margin-top: 10px;
        background: transparent
          url('img/Screen Shot 2020-12-30 at 13.40.01.png') 0% 0% no-repeat
          padding-box;
        opacity: 1;

        height: 281px;
        opacity: 1;
      "
    />
    <input
      id="heart"
      type="checkbox"
      [(ngModel)]="isFavorite"
      (change)="AddToFav()"
    />
    <label for="heart"><i class="fa fa-heart" aria-hidden="true"></i></label>
    <mat-card-content>
      <h3 class="info1">{{'INFO' | translate}}</h3>
    </mat-card-content>
  </drag-scroll>
</div>
