.logoName {
  margin-top: 13px;
  margin-left: 20px;
  text-align: left;
  color: #553E00;
}
.material-icons-outlined {
  margin-right: 15px;
  margin-top: 10px;
  font-size: 33px;
  color: #E58D00
}
.material-icons {
  margin-left: 20px;
  margin-top: 10px;
  font-size: 33px;
  color: #E58D00
}
.header {
  justify-content: space-between
}
.drag-scroll {
  display: inline-block;
    white-space: nowrap;
    width: 320px;
    height: 253px;
    }
.text {
display: flex;
margin: 10px;
  }
.text1 {
width: 105px;
height: 15px;
margin: auto;
font: normal normal normal 10px/14px Poppins;
letter-spacing: 0px;
color: #B5B5B5;
    }
.text2 {
    left: 105px;
    height: 15px;
    margin: auto;
    font: normal normal bold 10px/14px Poppins;
    letter-spacing: 0px;
    color: #E58D00
 }
.info1 {
margin-top: 18px;
margin-left: 21px;
width: 146px;
height: 20px;
color: var(--unnamed-color-553e00);
text-align: left;
font: normal normal 600 14px/21px Poppins;
letter-spacing: 0.14px;
color: #553E00;
opacity: 1;
}

[id="heart"] {
  position: absolute;
  left: -100vw;
}
[for="heart"] {
  color: #aab8c2;
  cursor: pointer;
  font-size: 6em;
  align-self: center;
  transition: color 0.2s ease-in-out;
}
[for="heart"]:hover {
  color: grey;
}
[for="heart"]::selection {
  color: none;
  background: transparent;
}
[for="heart"]::moz-selection {
  color: none;
  background: transparent;
}
[id="heart"]:checked + label {
  color: #e2264d;
  will-change: font-size;
  animation: heart 1s cubic-bezier(.17, .89, .32, 1.49);
}
@keyframes heart {0%, 17.5% {font-size: 0;}}
