

.slider{
  margin-top: 15px;
  margin-left:30px;
  margin-right: 30px;

}



.ifilter{
  margin-left: 20px;
  color: #E58D00;

}

drag-scroll {
  height: 50px;
}
button {
  height: 33px;
  width: 138px;
  margin-left:5px;
  border-radius: 50px;
  text-align: center;
  color: #E58D00;

}
button:focus {
  outline: none;
}
.active{
  background: #E58D00;
  color: white;
}

.slider ::ng-deep .ngx-slider .ngx-slider-pointer {
background-color: #E58D00;

}

.slider ::ng-deep .ngx-slider .ngx-slider-pointer:focus {

  outline: none;
  }
  .slider ::ng-deep .ngx-slider .ngx-slider-pointer.ngx-slider-active:after{
   background-color: white;
  }

  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

  }

  .card-image {
    width: 122px;
    height: 96px;
  }
