<app-header></app-header>
<!--slider km-->
<div>
<div class="slider">
  <ngx-slider
    [(value)]="value"
    [options]="options"
    (userChange)="detectchange(value)"
  ></ngx-slider>
</div>

<!--search-->
<div class="ifilter" fxLayout="row" fxLayoutWrap>
  <a style="color: #e58d00;align-self: center;height: 30px;" [routerLink]="['/filter']">
    <mat-icon style="font-size: x-large; background-repeat: no-repeat;
    display: inline-block;
    fill: currentColor;
    height: 30px;
    width: auto;"
      >filter_list</mat-icon
    ></a
  >

  <!--buttonscroll-->
  <drag-scroll style="width: 100%;height:30px">
    <button mat-stroked-button [routerLink]="['/']" routerLinkActive="active">
      <span class="sp">All Categories</span>
    </button>
    <button mat-stroked-button routerLinkActive="active">
      <span class="sp">Construction</span>
    </button>
    <button mat-stroked-button routerLinkActive="active">
      <span class="sp">Retail</span>
    </button>
    <button mat-stroked-button routerLinkActive="active">
      <span class="sp">Restaurant</span>
    </button>
    <button mat-stroked-button routerLinkActive="active">
      <span class="sp">Bakery</span>
    </button>
    <button mat-stroked-button routerLinkActive="active">
      <span class="sp">Clothing</span>
    </button>
  </drag-scroll>  </div>

<!--Kompani-->

<cdk-virtual-scroll-viewport [itemSize]="1" class="example-viewport" >
<div
  class="row"
  style="
 
 opacity: 1;
      margin: 8px;
      margin-bottom: 10px;
  "
>
  <div
    class="col-6"
    style="padding: 8px"
    *ngFor="let c of compani | filter: searchTextt"
  >
    <mat-card [routerLink]="['/companydetail', c.id]" class="cardd">
      <div
        fxLayoutAlign="center center"
        style="
          width: auto;
          height: auto;
          border-radius: 8px 8px 0px 0px;
          opacity: 1;
        "
      >
        <img mat-card-image  style="height: 96px;
        border: 1px solid #e6ddca;
        opacity: 1;
        width: -webkit-fill-available;"src="{{ imgpath + c.image }}" />
      </div>
      <mat-card-title
        class="TITLE"
        >{{ c.nameSQ }}</mat-card-title
      >
      <mat-card-content>
        <span style="display: flex; justify-content: space-between"
          ><p
            style="
              width: auto;
            height: auto;
            color: var(--unnamed-color-553e00);
            text-align: left;
            font: normal normal 600 9px/9px Poppins;
            letter-spacing: 0.06px;
            color: #553E00;
            opacity: 1;
            "
          >
            Category
          </p>
        </span>
      </mat-card-content>
    </mat-card>
  </div>
</div>
</cdk-virtual-scroll-viewport></div>