<div class="menuDiv" fxLayout="row" fxLayoutWrap>
  <h3 class="menu">Menu</h3>

  <i class="material-icons-outlined" (click)="backClicked()">close</i>
</div>
<div fxLayout="row" fxLayoutWrap>
  <button class="viewCompaniesBtn" mat-raised-button routerLink="/">
    View all Products <i class="material-icons">east</i>
  </button>
</div>
<div fxLayout="row" fxLayoutWrap>
  <button class="viewCompaniesBtni" mat-raised-button>
    Products Categories <i class="material-icons">east</i>
  </button>
</div>
<div fxLayout="row" fxLayoutWrap>
  <button
    class="viewCompaniesBtni"
    mat-raised-button
    [routerLink]="['/companies']"
  >
    View all Companies <i class="material-icons">east</i>
  </button>
</div>

<div fxLayout="row" fxLayoutWrap>
  <button class="viewCompaniesBtni" mat-raised-button>
    Company Categories <i class="material-icons">east</i>
  </button>
</div>

<div fxLayout="row" fxLayoutWrap>
  <button
    class="viewCompaniesBtni"
    mat-raised-button
    [routerLink]="['/favorite']"
  >
    Favorites <i class="material-icons">favorite</i>
  </button>
</div>
