.menu {
  margin-top: 13px;
  margin-left: 20px;
  text-align: left;
  color:  #E58D00;
  opacity: 1;
  letter-spacing: 0px;
  font-weight: bold;
  width: 46px;
  height: 23px;
}

.material-icons-outlined {
  margin-right: 15px;
  margin-top: 13px;
  font-size: 25px;
  text-align: left;
  color: #E58D00
}
.material-icons {
 margin-top: 5px;
  font-size: 25px;
  float:right;
  color: #E58D00
}
.menuDiv {
  justify-content: space-between
}
button:focus {
  outline: none;
}
.viewCompaniesBtn {

  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  width: 100%;
  text-align: left;
}

.viewCompaniesBtni {

  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  width: 100%;
  text-align: left;
}
