.logoName {
  margin-top: 13px;
  margin-left: 15px;
  width: 139px;
  height: 37px;
  color: var(--unnamed-color-553e00);
  text-align: left;
  font: normal normal bold 16px/25px Poppins;
  letter-spacing: 0px;
  color: #553e00;
  opacity: 1;
}
.header {
  justify-content: space-between;
}
.material-icons-outlined {
  margin-right: 35px;
    margin-top: 13px;
    width: 20px;
    height: 21px;
    font-size: xx-large;
    color: #e58d00;
    cursor: pointer;
}
.material-icons {
  margin-left: 15px;
  font-size: 33px;
  color: #e58d00;
}
drag-scroll {
  height: 30px;
}
button {

  width: 138px;
  height: 30px;
  margin-left: 10px;
  border-radius: 50px;
  text-align: center;
  color: #e58d00;
}
button:focus {
  outline: none;
}
.active {
  background: #e58d00;
  color: white;
}

.slider ::ng-deep .ngx-slider .ngx-slider-pointer {
  background-color: #e58d00;
}

.slider ::ng-deep .ngx-slider .ngx-slider-pointer:focus {
  outline: none;
}
.slider ::ng-deep .ngx-slider .ngx-slider-pointer.ngx-slider-active:after {
  background-color: white;
}

.mat-stroked-button {
  width: 136px;
  height: 30px;
  border: 1px solid #F5F5F5;
  border-radius: 34px;
  opacity: 1;
  padding: 0 15px;
  line-height: 100%;
  margin-right: 5px;
}


.cardd {
  border: 1px solid #e6ddca;
  opacity: 1;
  width: auto;
  height: 153px;
  border: 1px solid #ededed;
  border-radius: 8px;
  opacity: 1;
}

.sp {width: auto;
  height: auto;
  text-align: center;
  font: normal normal 600 12px/18px Poppins;
  letter-spacing: 0px;
  opacity: 1;}

  div .ngx-slider-inner-tooltip {
    height: 20px;
    color: var(--unnamed-color-553e00);
    font: normal normal normal 14px/21px Poppins;
    letter-spacing: 0px;
    color: #553E00;
    opacity: 1;
  }

.uli{
  padding: 0px;
}
