<!--Header-->
<div class="header" fxLayout="row" fxLayoutWrap>
  <img class="logoName" style="font: poppins" [routerLink]="['/']" src="../../assets/images/logo.png">
  <i class="material-icons-outlined" routerLink="/settings">settings</i>
</div>
<div fxLayout="row" fxLayoutWrap>
  <i
    class="material-icons"
    style="font-size: 33px; margin-left: 6px; margin-top: 10px"
    routerLink="/menu"
    >west</i
  >
</div>
<div *ngFor="let c of company">
  <div style="text-align: -webkit-center">
    <img
      src="{{ imgpath + c.image }}"
      style="
        margin-top: 23px;
        width: 88px;
        height: 88px;
        background: #ffffff 0% 0% no-repeat padding-box;
        border: 1px solid #d7d7d7;
        opacity: 1;
        display: flex;
      "
      alt="avatar mx-auto white"
      class="rounded-circle img-fluid"
    />
    <mat-card-title
      style="
        font-size: large;
        color: #553e00;
        font-weight: bold;
        align-self: center;
      "
      >{{ c.nameSQ }}</mat-card-title
    >

    <p
      style="
        width: 114px;
        height: 17px;
        text-align: center;
        font: normal normal 300 12px/18px Poppins;
        letter-spacing: 0px;
        color: #b5b5b5;
        opacity: 1;
      "
    >
      Software Company
    </p>
    <h5
      style="
        margin-top: 22px;
        width: 100%;
        height: 20px;
        color: var(--unnamed-color-553e00);
        text-align: center;
        font: normal normal medium 14px/21px Poppins;
        letter-spacing: 0.14px;
        color: #553e00;
        opacity: 1;
      "
    >
      Company Information
    </h5>
    <div
      style="
        margin-top: 4px;
        width: 330px;
        height: 213px;
        border: 1px solid #d7d7d7;
        border-radius: 8px;
        opacity: 1;
      "
    >
      <ul class="w3-ul w3-small">
        <li style="display: flex; align-items: center">
          <i class="material-icons" aria-hidden="true">location_on</i>
          <p
            style="
              margin-left: 7px;
              margin-top: 7px;
              width: 100%;
              height: 17px;
              color: var(--unnamed-color-553e00);
              text-align: left;
              font: normal normal normal 12px/18px Poppins;
              letter-spacing: 0.12px;
              color: #553e00;
              opacity: 1;
            "
          >
            {{ c.cityMK }}
          </p>
        </li>
      </ul>
      <ul class="w3-ul w3-small">
        <li style="display: flex; align-items: center">
          <i class="material-icons">local_phone</i>
          <p
            style="
              margin-left: 7px;
              margin-top: 7px;
              width: 100%;
              height: 17px;
              color: var(--unnamed-color-553e00);
              text-align: left;
              font: normal normal normal 12px/18px Poppins;
              letter-spacing: 0.12px;
              color: #553e00;
              opacity: 1;
            "
          >
            {{ c.telephone }}
          </p>
        </li>
      </ul>
      <ul class="w3-ul w3-small">
        <li style="display: flex; align-items: center">
          <i class="material-icons">mail_outline</i>
          <p
            style="
              margin-left: 7px;
              margin-top: 7px;
              width: 100%;
              height: 17px;
              color: var(--unnamed-color-553e00);
              text-align: left;
              font: normal normal normal 12px/18px Poppins;
              letter-spacing: 0.12px;
              color: #553e00;
              opacity: 1;
            "
          >
            {{ c.email }}
          </p>
        </li>
      </ul>
      <ul class="w3-ul w3-small">
        <li style="display: flex; align-items: center">
          <i class="material-icons">schedule</i>
          <p
            style="
              margin-left: 7px;
              margin-top: 7px;
              width: 100%;
              height: 17px;
              color: var(--unnamed-color-553e00);
              text-align: left;
              font: normal normal normal 12px/18px Poppins;
              letter-spacing: 0.12px;
              color: #553e00;
              opacity: 1;
            "
          >
            8:30 - 16:30 / Sat - Sun Closed
          </p>
        </li>
      </ul>
      <ul class="w3-ul w3-small">
        <li style="display: flex; align-items: center">
          <i class="material-icons">web</i>
          <p
            style="
              margin-left: 7px;
              margin-top: 7px;
              width: 100%;
              height: 17px;
              color: var(--unnamed-color-553e00);
              text-align: left;
              font: normal normal normal 12px/18px Poppins;
              letter-spacing: 0.12px;
              color: #553e00;
              opacity: 1;
            "
          >
            www.i-solve.info
          </p>
        </li>
      </ul>
    </div>
    <h4
      style="
        margin-top: 20px;
        margin-bottom: 10px;
        width: 100%;
        height: 20px;
        color: var(--unnamed-color-553e00);
        text-align: center;
        font: normal normal medium 14px/21px Poppins;
        letter-spacing: 0.14px;
        color: #553e00;
        opacity: 1;
      "
    >
      Products and Services
    </h4>
    <drag-scroll style="width: 100%; margin-top: 5px">
      <button mat-raised-button [routerLink]="['/']" routerLinkActive="active">
        All Categories
      </button>
      <button mat-raised-button routerLinkActive="active">Construction</button>
      <button mat-raised-button routerLinkActive="active">Retail</button>
      <button mat-raised-button routerLinkActive="active">Restaurant</button>
      <button mat-raised-button routerLinkActive="active">Bakery</button>
      <button mat-raised-button routerLinkActive="active">Clothing</button>
    </drag-scroll>
  </div>

  <div class="row" style="margin: 5px; margin-bottom: 10px">
    <div *ngFor="let c of allproducts" class="col-6" style="padding: 5px">
      <mat-card [routerLink]="['/productdetail', c.id]">
        <div fxLayoutAlign="center center" style="margin: 3px">
          <img
            style="margin-top: 1px"
            mat-card-image
            class="card-image"
            src="{{ imgpathi + c.image }}"
          />
        </div>
        <mat-card-title
          style="font-size: large; color: #e58d00; font-weight: bold"
          >{{ c.nameSQ }}</mat-card-title
        >
        <mat-card-content>
          <span style="display: flex; justify-content: space-between"
            ><p style="font-size: 12px">Category</p>
            <p
              style="
                float: right;
                font-size: 12;
                font-weight: bold;
                color: #035f11;
              "
            >
              {{ c.sellingPriceWithVat }}den
            </p></span
          >
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
