.logoName {
  margin-top: 13px;
  margin-left: 15px;
  width: 139px;
  height: 30px;
  color: var(--unnamed-color-553e00);
  text-align: left;
  font: normal normal bold 16px/25px Poppins;
  letter-spacing: 0px;
  color: #553e00;
  opacity: 1;
}
.header {
  justify-content: space-between;
}
.material-icons-outlined {
  margin-right: 35px;
  margin-top: 13px;
  width: 20px;
  height: 21px;
  color: #e58d00;
  opacity: 1;
}
.material-icons {
  color: #e58d00;
}
drag-scroll {
  height: 50px;
}
button {
  height: 33px;
  width: 138px;
  margin-left: 10px;
  border-radius: 50px;
  text-align: center;
  color: #e58d00;
}
button:focus {
  outline: none;
}
.active {
  background: #e58d00;
  color: white;
}

.slider ::ng-deep .ngx-slider .ngx-slider-pointer {
  background-color: #e58d00;
}

.slider ::ng-deep .ngx-slider .ngx-slider-pointer:focus {
  outline: none;
}
.slider ::ng-deep .ngx-slider .ngx-slider-pointer.ngx-slider-active:after {
  background-color: white;
}
